.c-text-input {
  border: 1px solid $text-light;
  border-radius: 4px;
  background-color: transparent;
  color: $text-light;
  height: 44px;
  padding: 0.625rem;
  padding-right: 2rem; /* added padding to make space for the icon */
  width: 100%;
}

.c-text-input:focus {
  border: 2px solid $color-primary;
  padding: 0.625rem;
  padding-right: 2rem; /* maintained padding on focus */
}

.c-text-input::placeholder {
  color: $text-light;
}

.c-text-input:disabled {
  color: $oc-gray-5;
  cursor: not-allowed;
}

.c-input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.c-input-icon {
  position: absolute;
  color: $oc-gray-5;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none; /* added to ensure the icon doesn't interfere with input interactions */
}
