.c-text-input {
  border: 1px solid $text-light;
  border-radius: 4px;
  background-color: transparent;
  color: $text-light;
  height: 44px;
  padding: 0.625rem;
  width: 100%;

  &:focus {
    border: 2px solid $color-primary;
    padding: 0.625rem;
  }

  &::placeholder {
    color: $text-light;
  }

  &:disabled {
    color: $oc-gray-5;
    cursor: not-allowed;
  }
}
