.c-password-input {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0.7rem;

  @include respond(tab-port) {
    width: 100%;
  }

  .c-text-input {
    width: 100%;
  }

  &__password-eye {
    position: absolute;
    right: 1.4rem;
    top: 0.9rem;
    font-size: 1rem;
    color: $text-light;

    &--hidden {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
