body {
  font-family: "Open Sans", sans-serif; }

body {
  color: #ffffff; }

.c-header {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  padding-left: calc((100vw - 1140px) / 2);
  padding-right: calc((100vw - 1140px) / 2);
  position: relative; }
  @media (max-width: 56.25em) {
    .c-header {
      padding-left: 2.5rem;
      padding-right: 2.5rem; } }
  .c-header__top {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; }
    @media (max-width: 56.25em) {
      .c-header__top {
        padding: 10px 0;
        flex-direction: column; }
        .c-header--open .c-header__top {
          gap: 33px; } }
  .c-header__bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0 20px; }
    @media (max-width: 56.25em) {
      .c-header__bottom {
        display: none;
        box-sizing: border-box;
        position: absolute;
        top: 121px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 121px);
        flex-direction: column;
        justify-content: flex-start;
        background-color: #000000;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 25px; }
        .c-header--open .c-header__bottom {
          display: flex; } }
  .c-header__logo {
    display: flex;
    align-items: center;
    transform: translateX(-10px); }
    .c-header__logo-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #ffffff; }
      .c-header__logo-link:hover {
        text-decoration: underline; }
    .c-header__logo-image {
      width: 40px;
      height: auto;
      margin-right: 10px; }
  .c-header__authentication {
    display: flex;
    align-items: center; }
    .c-header__authentication-link {
      color: #ffffff;
      text-decoration: none;
      margin-left: 15px; }
      @media (max-width: 56.25em) {
        .c-header__authentication-link {
          display: none;
          align-items: center;
          justify-content: space-between;
          margin-left: 0;
          margin-right: 15px; }
          .c-header--open .c-header__authentication-link {
            display: block; } }
      .c-header__authentication-link:hover {
        text-decoration: underline; }
  .c-header__navigation-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; }
    @media (max-width: 56.25em) {
      .c-header__navigation-list {
        flex-direction: column;
        justify-content: flex-start; } }
    .c-header__navigation-list.c-header__sub-navigation {
      display: none;
      position: absolute;
      background-color: #000000;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
      @media (max-width: 56.25em) {
        .c-header__navigation-list.c-header__sub-navigation {
          position: static;
          flex-direction: row;
          justify-content: flex-start;
          background-color: transparent;
          box-shadow: none;
          width: calc(100vw - 95px);
          margin-left: 15px; } }
      .c-header__navigation-list.c-header__sub-navigation > :last-child .c-header__navigation-link {
        border-radius: 0 0 4px 4px; }
        @media (max-width: 56.25em) {
          .c-header__navigation-list.c-header__sub-navigation > :last-child .c-header__navigation-link {
            border-radius: 0; } }
    .c-header__navigation-list:not(.c-header__sub-navigation) > :first-child .c-header__navigation-link {
      padding-left: 0; }
  .c-header__navigation-link {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 25px;
    display: block; }
    @media (max-width: 56.25em) {
      .c-header__navigation-link {
        padding: 10px 0; } }
    .c-header__navigation-link .c-header__chevron {
      transition: transform 0.1s;
      font-size: 12px;
      margin: auto 0 auto 7px; }
      @media (max-width: 56.25em) {
        .c-header__navigation-link .c-header__chevron {
          display: none; } }
    .c-header__navigation-link:hover {
      background-color: #2c2c2c; }
  .c-header__navigation-item {
    position: relative; }
    .c-header__navigation-item:hover .c-header__sub-navigation, .c-header__navigation-item:focus-within .c-header__sub-navigation, .c-header__navigation-item:focus-visible .c-header__sub-navigation {
      display: flex;
      flex-direction: column; }
    .c-header__navigation-item:hover.is-primary > .c-header__navigation-link, .c-header__navigation-item:focus-within.is-primary > .c-header__navigation-link, .c-header__navigation-item:focus-visible.is-primary > .c-header__navigation-link {
      border-bottom: 1px solid #7149e9; }
      .c-header__navigation-item:hover.is-primary > .c-header__navigation-link .c-header__chevron, .c-header__navigation-item:focus-within.is-primary > .c-header__navigation-link .c-header__chevron, .c-header__navigation-item:focus-visible.is-primary > .c-header__navigation-link .c-header__chevron {
        transform: rotate(-180deg); }
    @media (max-width: 56.25em) {
      .c-header__navigation-item .c-header__sub-navigation {
        display: flex;
        flex-direction: column; }
      .c-header__navigation-item.is-primary {
        margin: 15px 0; }
      .c-header__navigation-item.is-primary > .c-header__navigation-link .c-header__chevron {
        transform: rotate(-180deg); } }

.c-accessibility-menu {
  background-color: #7149e9; }
  .c-accessibility-menu__item {
    text-align: center; }
  .c-accessibility-menu__link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden; }
    .c-accessibility-menu__link:focus {
      color: #ffffff;
      text-decoration: none;
      font-size: 14px;
      height: auto;
      position: static;
      width: auto; }
  .c-accessibility-menu:focus-within {
    padding: 10px 0; }

.c-mobile-menu-toggle {
  position: absolute;
  top: 21px;
  right: 2.5rem;
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: none;
  font-size: 25px;
  z-index: 2; }
  @media (max-width: 56.25em) {
    .c-mobile-menu-toggle {
      display: block; } }
