// Single comment
.c-comment {
  padding: 1.5rem 0;
  color: $text-light;
  border-radius: 0.3rem;
  font-family: inherit;
  display: flex;
  justify-content: space-between;
  position: relative;

  @include respond(tab-port) {
    padding: 1.5rem 1rem 1.5rem 0;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  &:focus {
    outline: 2px solid #000;
    outline-offset: 2px;
  }

  &__interactions {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    right: 0;
    top: 1.8rem;

    @include respond(tab-port) {
      position: absolute;
      bottom: 1.8rem;
      right: 0;
      top: unset;
    }

    &--editing {
      opacity: 0.5;
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Rubik", sans-serif;

    &--primary {
      i,
      span {
        color: $colour-primary;
      }
    }

    &--delete {
      i,
      span {
        color: $oc-red-5;
      }
    }

    &--active i.fa-sharp {
      color: $oc-violet-4;
    }
  }

  &__main {
    width: 100%;

    .c-text-area {
      width: 100%;
      margin-top: 1rem;
    }
  }

  &__you {
    font-family: Rubik;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: $text-light;
    padding: 1px 6px 3px 6px;
    border-radius: 1px;
    background-color: $colour-primary;
    margin-right: 5px;
  }

  &__date {
    color: $text-light;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  &__side {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 14px 0 1rem;
    margin-right: 1.5rem;

    @include respond(tab-port) {
      flex-direction: row;
      width: max-content;
      display: inline-flex;
    }

    p {
      font-size: 1rem;
      font-weight: 500;
      font-family: "Rubik", sans-serif;
      padding: 0;
      margin: 0.6rem 0;
      color: $colour-primary;

      @include respond(tab-port) {
        margin: 0 0.6rem;
      }
    }

    i {
      font-size: 0.8rem;
      color: $colour-primary-light;
    }
  }

  &__header {
    display: flex;
    align-items: center;

    &__info {
      display: flex;
      align-items: center;
      gap: 1rem;

      h5 {
        font-family: "Rubik", sans-serif;
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
      }
    }
  }

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  &__text {
    margin-top: 1rem;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

// Profile image
.c-profile-image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;

  p {
    font-size: 1.6rem;
    font-weight: 600;
    color: #ffffff !important;
    margin: 0 !important;
  }

  &--blue {
    background-color: #0052cc;
  }

  &--teal {
    background-color: #00a3bf;
  }

  &--green {
    background-color: #00875a;
  }

  &--yellow {
    background-color: #ff991f;
  }

  &--red {
    background-color: #de350c;
  }

  &--purple {
    background-color: #7149e9;
  }

  &--darkBlue {
    background-color: #172b4e;
  }
}
