@import "../../node_modules/open-color/open-color.scss";
// colours

$colour-primary: hsl(255, 78%, 60%);
$colour-primary-light: $oc-violet-1;
$colour-primary-dark: rgb(41, 23, 94);

$colour-secondary: hsla(0, 72%, 65%, 0.942);
$colour-secondary-light: #f23f7b;
$colour-secondary-dark: #f54559;

$colour-form-false: rgb(255, 119, 48);
$colour-form-true: rgb(85, 197, 122);

$colour-white: rgb(255, 255, 255);
$colour-black: rgb(0, 0, 0);

$text-light: #f1f3f5;
$text-white: #ffffff;
$text-dark: #212529;
