// colours

$colour-primary: hsl(255, 78%, 60%);
$colour-primary-light: #9c82e7;
$colour-primary-dark: rgb(41, 23, 94);

$colour-secondary: hsla(0, 72%, 65%, 0.942);
$colour-secondary-light: #f23f7b;
$colour-secondary-dark: #f54559;

$colour-form-false: rgb(255, 119, 48);
$colour-form-true: rgb(85, 197, 122);

$colour-grey-light-1: rgb(222, 226, 230);
$colour-grey-light-2: rgb(73, 80, 87);

$colour-grey--extra-dark: #000000;
$colour-grey-dark: #0a0114;
$colour-grey-dark-2: #302654;
$colour-grey-dark-3: rgb(51, 51, 51);

$colour-white: rgb(255, 255, 255);
$colour-black: rgb(0, 0, 0);

$text-light: #f1f3f5;
$text-white: #ffffff;
$text-dark: #212529;
