@import "../../sass/imports.scss";

.c-button {
  // Settings
  border: none;
  transition: all 0.3s ease;
  text-decoration: none;
  min-width: max-content;
  text-align: center;
  line-height: inherit;
  vertical-align: middle;

  // flex
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;

  // font
  font-weight: 600;
  font-size: 16px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  @include respond(tab-port) {
    padding: 8px 10px;
  }

  img {
    height: 24px;
  }

  i {
    color: $colour-white;
    font-size: 16px;
    margin: 0;
    padding: 4px 14px;
  }

  &:hover {
    cursor: pointer;
  }

  &--primary {
    background: $colour-primary;
    color: $colour-white;

    &--with-border {
      border: 2px solid $colour-primary;
      box-sizing: border-box;
    }

    &:hover,
    &:focus-visible {
      background: $colour-primary-light;
      color: $colour-primary;
    }
  }

  &--secondary {
    background: $colour-primary-light;
    color: $colour-primary;

    &--with-border {
      border: 2px solid $colour-primary;
      box-sizing: border-box;
    }

    &:hover,
    &:focus-visible {
      background: $colour-primary;
      color: $colour-white;
    }
  }

  &--gray {
    background: $oc-gray-3;
    color: $oc-gray-8;

    &--with-border {
      border: 2px solid $oc-gray-8;
      box-sizing: border-box;
    }

    &:hover,
    &:focus-visible {
      background: $oc-gray-6;
      color: $oc-white;
    }
  }

  &--red {
    background: $oc-red-8;
    color: $colour-white;

    &--with-border {
      border: 2px solid $oc-red-8;
      box-sizing: border-box;
    }

    &:hover,
    &:focus-visible {
      background: $oc-red-1;
      color: $oc-red-8;
    }
  }

  &--small {
    padding: 8px 10px;
    font-size: 15px;
  }

  &--medium {
    padding: 10px 18px;
    font-size: 16px;
  }

  &--large {
    padding: 12px 20px;
    font-size: 17px;
  }

  &--round {
    border-radius: 40px;
  }

  &--semi-round {
    border-radius: 4px;
  }
}
