body {
  font-family: "Open Sans", sans-serif; }

.c-button {
  border: none;
  transition: all 0.3s ease;
  text-decoration: none;
  min-width: max-content;
  text-align: center;
  line-height: inherit;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: 600;
  font-size: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  @media (max-width: 56.25em) {
    .c-button {
      padding: 8px 10px; } }
  .c-button img {
    height: 24px; }
  .c-button i {
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 4px 14px; }
  .c-button:hover {
    cursor: pointer; }
  .c-button--primary {
    background: #7149e9;
    color: white; }
    .c-button--primary--with-border {
      border: 2px solid #7149e9;
      box-sizing: border-box; }
    .c-button--primary:hover, .c-button--primary:focus-visible {
      background: #e5dbff;
      color: #7149e9; }
  .c-button--secondary {
    background: #e5dbff;
    color: #7149e9; }
    .c-button--secondary--with-border {
      border: 2px solid #7149e9;
      box-sizing: border-box; }
    .c-button--secondary:hover, .c-button--secondary:focus-visible {
      background: #7149e9;
      color: white; }
  .c-button--gray {
    background: #dee2e6;
    color: #343a40; }
    .c-button--gray--with-border {
      border: 2px solid #343a40;
      box-sizing: border-box; }
    .c-button--gray:hover, .c-button--gray:focus-visible {
      background: #868e96;
      color: #ffffff; }
  .c-button--red {
    background: #e03131;
    color: white; }
    .c-button--red--with-border {
      border: 2px solid #e03131;
      box-sizing: border-box; }
    .c-button--red:hover, .c-button--red:focus-visible {
      background: #ffe3e3;
      color: #e03131; }
  .c-button--small {
    padding: 8px 10px;
    font-size: 15px; }
  .c-button--medium {
    padding: 10px 18px;
    font-size: 16px; }
  .c-button--large {
    padding: 12px 20px;
    font-size: 17px; }
  .c-button--round {
    border-radius: 40px; }
  .c-button--semi-round {
    border-radius: 4px; }
