@mixin button-variant($bg-color, $text-color, $border-color: null, $bg-hover-color: null, $text-hover-color: null) {
  background: $bg-color;
  color: $text-color;

  i {
    color: $text-color;
  }

  &--with-border {
    border: 2px solid if($border-color, $border-color, $bg-color);
    box-sizing: border-box;
  }

  &--with-shadow {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  &:hover,
  &:focus-visible {
    background: if($bg-hover-color, $bg-hover-color, $text-color);
    color: if($text-hover-color, $text-hover-color, $bg-color) !important;

    i {
      color: if($text-hover-color, $text-hover-color, $bg-color);
    }
  }
}

@mixin button-size($padding, $font-size, $icon-font-size, $gap) {
  padding: $padding;
  font-size: $font-size;
  gap: $gap;

  i {
    font-size: $icon-font-size;
  }
}

@import "../../sass/imports.scss";

.c-button {
  // Settings
  border: none;
  transition: all 0.3s ease;
  text-decoration: none;
  min-width: max-content;
  text-align: center;
  line-height: inherit;
  vertical-align: middle;

  // flex
  display: inline-flex;
  align-items: center;
  gap: 10px;

  // font
  font-weight: 600;
  font-size: 16px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;

    &:hover,
    &:focus-visible {
      opacity: 0.5;
    }
  }

  @include respond(tab-port) {
    padding: 8px 10px;
  }

  img {
    height: 24px;
  }

  i {
    color: $colour-white;
    margin: 0;
    line-height: 1;
  }

  &:hover {
    cursor: pointer;
  }

  &--full-width {
    width: 100%;
  }

  &--center-text {
    text-align: center;
    justify-content: center;
  }

  &--highlighted {
    outline: 4px solid $colour-outline;
  }

  // Button Variants
  &--ghost {
    @include button-variant(rgba(0, 0, 0, 0), $oc-white, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), $oc-white);
    box-shadow: none;
  }
  &--ghost-gray-text {
    @include button-variant(rgba(0, 0, 0, 0), $oc-gray-5, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), $oc-gray-5);
    box-shadow: none;
  }
  &--primary {
    @include button-variant($colour-primary, $colour-white, $colour-primary, $colour-primary-light, $colour-primary);
  }
  &--primary-secondary {
    @include button-variant($colour-primary-light, $colour-primary, $colour-primary, $colour-primary, $colour-white);
  }
  &--gray {
    @include button-variant($oc-gray-7, $oc-white, $oc-gray-7, $oc-gray-1, $oc-gray-7);
  }
  &--gray-secondary {
    @include button-variant($oc-gray-3, $oc-gray-7, $oc-gray-7, $oc-gray-7, $oc-white);
  }
  &--red {
    @include button-variant($oc-red-8, $colour-white, $oc-red-8, $oc-red-1, $oc-red-8);
  }
  &--red-secondary {
    @include button-variant($oc-red-1, $oc-red-8, $oc-red-8, $oc-red-8, $oc-white);
  }
  &--black {
    @include button-variant($oc-black, $oc-white, $oc-black, $oc-white, $oc-black);
  }
  &--linkedin {
    @include button-variant($linkedin-blue, $colour-white, $linkedin-blue, $oc-white, $linkedin-blue);
  }

  // Button Sizes
  &--small {
    @include button-size(8px 10px, 15px, 15px, 0.45rem);
  }
  &--medium {
    @include button-size(10px 18px, 16px, 16px, 0.6rem);
  }
  &--large {
    @include button-size(12px 20px, 17px, 17px, 0.7rem);
  }

  // Button Corners
  &--round {
    @include corner(40px);
  }
  &--semi-round {
    @include corner(4px);
  }
  &--square {
    @include corner(0);
  }
}
