@import "../../../sass/imports.scss";

.c-grid {
  --gap: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: var(--gap);
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;

  @include respond(phone) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}
