.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;

  p {
    font-size: 1rem;
    letter-spacing: 1px;
    color: $text-light;
    margin: 0;
  }

  i {
    font-size: 1rem;
    color: $color-primary;
    margin: 0;
  }

  i,
  p {
    margin-right: 0.7rem;
  }
}
