.article-layout {
  @include centered-container;
  display: grid;
  grid-template-columns: auto 225px;
  gap: 80px;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .c-image {
    margin: 3rem 0;
  }
}

.article-sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
