.c-share-button {
  color: $color-white;
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  transition: all 0.2s ease-in-out;
  border: none;

  i {
    font-size: 30px;
    margin-top: 2px;
  }

  &:hover {
    background-color: $color-white;
    color: $color-primary;
    cursor: pointer;
  }
}
