.c-cookie-banner {
  position: fixed;
  bottom: 40px;
  left: 40px;
  background-color: $oc-gray-8;
  z-index: 1000;
  padding: 20px 26px;
  border-radius: 6px;
  border: 1px solid $oc-gray-6;

  @include respond(tab-port) {
    width: 100vw;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }

  &--hidden {
    display: none;
  }

  &--minimized {
    height: min-content;

    .c-cookie-banner__text:not(.no-hide) {
      display: none;
    }
  }

  &__title {
    color: #ffffff;
    margin-bottom: 1.5rem;
  }

  &__text {
    color: $color-white;
    max-width: 400px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }

  &__actions {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }

  &__toggle {
    display: flex;
    gap: 5px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__minimize {
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.2rem;
    margin-top: 8px;

    &:hover {
      color: #cccccc;
    }
  }

  &__expand {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.2rem;
    margin-top: 7px;

    &:hover {
      color: #cccccc;
    }
  }
}

.c-cookie-banner--minimized .c-cookie-banner__minimize {
  display: none;
}

.c-cookie-banner--minimized .c-cookie-banner__expand {
  display: block;
}
