@import "../container/c-container.scss";
@import "../../../sass/imports.scss";

.c-footer {
  padding-top: 8rem;
  background-color: #000000;

  a {
    color: #ffffff;

    &:hover {
      color: #e9e9e9;
      text-decoration: underline;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    @include container-x;

    @include respond(tab-port) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__head-site-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    @include respond(tab-port) {
      margin-bottom: 4rem;
    }
  }

  &__head-links {
    display: flex;
    margin-left: auto;
    gap: 31px;

    a {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
    }

    @include respond(tab-port) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-right: auto;
      margin-top: 1.5rem;
      margin-left: 0;
      gap: 10px 0;
    }
  }

  &__body {
    @include container-x;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 45px;

    @include respond(tab-port) {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 51px;
    }
  }

  &__body-link-grid {
    display: flex;
    gap: 0 100px;
    margin-bottom: 40px;

    @include respond(tab-port) {
      flex-direction: column;
      gap: 51px 0;
    }
  }

  &__body-link-group {
    display: flex;
    flex-direction: column;
    gap: 16px;

    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__body-social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0 16px;
    transform: translateX(18px) translateY(-10px);

    @include respond(tab-port) {
      align-items: flex-start;
      transform: translateX(-18px);
    }
  }

  &__branding {
    @include container-x;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #000000;

    @include respond(tab-port) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 30px 0;
    }
  }

  &__branding-logo {
    display: flex;
    align-items: center;
    gap: 0 16px;

    i {
      margin-right: 1px;
      font-size: 1.3rem;
    }

    img {
      width: 53px;
      height: 53px;
    }

    p {
      margin-bottom: 0;
      font-size: 1.4rem;
    }
  }

  &__branding-links {
    display: flex;
    gap: 0 15px;

    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
  }
}
